@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {

  background-color: #eee;
  font-family: 'Oswald', sans-serif!important;
  text-transform: uppercase!important;
}

img{
  align-self: center;
  padding-right: 8px;
  padding-top: 4px;
  width: 70px;
  height: 51px;
}

nav a {
  color: #ffca3a; 
  font-size: 25px!important;
}

nav ul a {
  color: #000;
}

nav {
  background-color: #FFF;
}

.logo{
  width: 15%!important;
  margin: 5px;
}

.tit{
  font-size: 34px;
  letter-spacing: 5px;
  text-transform: uppercase;

}

.br8 {
  border-radius: 8px;
}

.rendF{
  background-color: #ff595e;
  border: solid 0;
  height: 1px;
}

.rendV{
  background-color: #8ac926;;
  border: solid 0;
  height: 1px;
}

tbody td a {
  color: #b71c1c;
}

.lineBor{
  border: solid 1px
}

.quad {
  display: flex;
  color: #000;
}

.mb18{
  margin-bottom: 10px!important;
}

.btnForm {
  margin-top: 50px;
}

.mbForm{
  margin-bottom: 20px!important;
}

.mtForm{
  margin-top: 10px!important;
}

.modal .modal-footer{
  background-color: #e7e7e7;
}

.modal {
  background-color: #e7e7e7;
}

.padInput, select {
  background: #fff!important;
  border: 1px solid!important;
  border-color: #ffca3a!important;
  border-radius: 3px!important;
  color: #000!important;
  box-shadow: none!important;
  box-sizing: inherit!important;
  padding: 0 5px!important;
  text-transform: uppercase;
}


label, ::placeholder{
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}

form p {
  margin-top: 0px!important;
  margin-bottom: 20px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  margin: 0px;
}

.pl10{
  padding-left: 20px;
}
nav a:hover, nav .a:focus{
  background-color: transparent!important;
}

.hrBl {
  background-color: #0089ec;
  border: solid 0;
  height: 1px;
  margin-bottom: 20px;
}

.btnYe{
  background-color: #ffca3a ;
  color: #000000;
  margin-right: 5px!important;
  border-radius: 5px;
  border: 0px;
  height: 40px;
  width: 80px;
}

.btnYe:hover, .btnYe:focus{ 
  background-color: #ffba00!important;
}

.btnGr{
  background-color: #a6a6a6;
  color: #000;
  margin-left: 5px!important;
  border-radius: 2px;
}

.btnGr:hover, .btnYe:focus{ 
  background-color: #888888
}

td button {
  background-color: transparent;
  border: solid 0px;
  color: #ca0909;
}

td button:hover, td button:focus{
  color: #921616!important;
  background-color: transparent;
}

.addNull{
  color: silver!important;
}
.mt20{
  margin-top: 20px;
}
.progress .indeterminate {
  background-color: #00b0ff;
}

.progress {
  background-color: #7fcaff;
}
/* /////////////RESPONSIVE/////////////////////

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tbl {
    font-size: 22px!important;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tbl {
    font-size: 22px!important;
  }
  .fRight{
    float: right!important;
  }
  .mob{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .tbl {
    font-size: 20px!important;
  }
  .desk{
    display: none!important;
  }
  .btn-floating.btn-large{
    opacity: 0.8;
  }
  form p {
    font-size: 19px!important;
    margin-bottom: 12px;
  }

  label, ::placeholder{
    font-size: 14px;
  }
  .mbForm{
    margin-bottom: 15px!important;
  }
  
  .mtForm{
    margin-top: 5px!important;
  }
  .mob {
    display: block;
    text-align: center;
    padding: 20px;
  }
  .perf {
    font-size: 100px!important;
    height: 95px!important;
  }
  .quad{
    font-size: 25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tbl {
    font-size: 17px!important;
  }

  nav i {
    font-size: 40px!important;
  }
  nav {
    height: 70px;
  }  
} 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tbl {
    font-size: 17px!important;
  }

  nav i {
    font-size: 40px!important;
  }
  .logo{
    width: 50%;
    height: auto;
  }
  .tit{
    font-size: 22px;
    letter-spacing:1px;
  }
}











